.primary-btn{
  border-radius: 100px;
  background: #567D72;
  color: #fff;
  border: 3px solid #fff;

  &:active{
    background: #3A5D53;
    border: 3px solid #3A5D53;
  }
  .img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }
}

.secondary-btn{
  border-radius: 100px;
  background: #fff;
  border: 3px solid #fff;
  color: #567D72;

  &:active{
    border: 3px solid #3B3D4126;
    background: #EFEFEF;
    color: #446C61;
  }
  .img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }
}